---
import PhpIcon from "../components/icons/Php.astro";
import JavaIcon from "../components/icons/JavaScript.astro";
import MySQLIcon from "../components/icons/MySQL.astro";
import LaravelIcon from "../components/icons/Laravel.astro";
import AstroIcon from "../components/icons/Astro.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import NextJSIcon from "../components/icons/NextJs.astro";
import ReactIcon from "../components/icons/React.astro";
import TransitionIcon from "../components/TransitionIcon.astro";
import CSSIcon from "../components/icons/Css.astro";
import HTMLIcon from "../components/icons/HTML.astro";
---

<div class="bg-black/10 rounded-lg p-7 flex">
  <section>
    <p
      class="bg-gradient-to-r from-gray-900 via-gray-600 to-gray-900 bg-clip-text text-transparent text-md font-bold"
    >
      &lt; / Frontend &gt;
    </p>
    <div class="py-8 mx-auto max-w-screen-xl px-8">
      <div
        class="grid justify-items-center grid-cols-2 gap-5 text-black sm:gap-12 md:grid-cols-3 lg:grid-flow-col dark:text-gray-400"
      >
        <TransitionIcon Icon={HTMLIcon} size="size-8" title="HTML" />
        <TransitionIcon Icon={CSSIcon} size="size-8" title="CSS" />
        <TransitionIcon Icon={JavaIcon} size="size-8" title="JavaScript" />
        <TransitionIcon Icon={AstroIcon} size="size-8" title="Astro" />
        <TransitionIcon Icon={ReactIcon} size="size-8" title="React" />

        <TransitionIcon Icon={TailwindIcon} size="size-8" title="Tailwind" />
      </div>
    </div>
  </section>
  <section>
    <p
      class="bg-gradient-to-r from-gray-900 via-gray-600 to-gray-900 bg-clip-text text-transparent text-md font-bold"
    >
      &lt; / Backend &gt;
    </p>
    <div class="py-8 mx-auto max-w-screen-xl px-8">
      <div
        class="grid justify-items-center grid-cols-2 gap-8 text-black sm:gap-12 md:grid-cols-3 lg:grid-flow-col dark:text-gray-400"
      >
        <TransitionIcon Icon={PhpIcon} size="size-8" title="PHP" />
        <TransitionIcon Icon={LaravelIcon} size="size-8" title="Laravel" />
        <TransitionIcon Icon={NextJSIcon} size="size-8" title="Next.js" />
        <TransitionIcon Icon={MySQLIcon} size="size-8" title="MySQL" />
      </div>
    </div>
  </section>
</div>
