---
import PHPIcon from "./icons/Php2.astro";
import MySQL from "./icons/MySQL.astro";
import JavaScript from "./icons/JavaScript.astro";
import NextJs from "./icons/NextJs.astro";
import React from "./icons/React.astro";
import GoIcon from "./icons/Go.astro";
import AstroIcon from "./icons/Astro.astro";
import Tailwind from "./icons/Tailwind.astro";
import Vue from "./icons/Vue2.astro";
import Vuetify from "./icons/Vuetify.astro";
import ML from "./icons/ML.astro";

const TAGS = {
  PHP: {
    name: "PHP",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: PHPIcon,
  },
  MySQL: {
    name: "MySQL",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: MySQL,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: JavaScript,
  },

  NEXTJS: {
    name: "NextJS",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: NextJs,
  },

  React: {
    name: "React",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: React,
  },

  AstroIcon: {
    name: "Astro",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: AstroIcon,
  },

  Tailwind: {
    name: "Tailwind",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: Tailwind,
  },
  Vue: {
    name: "Vue",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: Vue,
  },
  Vuetify: {
    name: "Vuetify",
    class: "bg-black/70 text-white flex  items-center w-28 justify-center",
    icon: Vuetify,
  },
};

const PROJECTS = [
  {
    title: "Bamboo Management Suite V1.5 ",
    description: "Sistema de Gestión de Gimnasio",
    link: "https://bonitogym.com.mx/#/login",
    link_venta:
      "https://www.mercadolibre.com.mx/sistema-web-pgimnasio-v15-membresiasmiembrosreportes/up/MLMU3164162841?pdp_filters=item_id%3AMLM2305189997#origin%3Dshare%26sid%3Dshare%26wid%3DMLM2305189997 ",
    image: "/projects/bamboo_management.webp",
    tags: [TAGS.Vue, TAGS.Vuetify, TAGS.PHP],
  },
  {
    title: "PGarcia Connect",
    description: "Sistema de Gestión de Inventario",
    link: "https://gcpgarcia.com/login",
    image: "/projects/pg_ecommerce.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.MySQL],
  },
  {
    title: "Bamboo POS Food Service V1.0",
    description: "Sistema de Gestión para Restaurante, Fondas, Taquerias",
    link: "https://gcpgarcia.com/login",
    image: "/projects/bamboo_food.webp",
    link_venta:
      "https://www.mercadolibre.com.mx/sistema-web-pgimnasio-v15-membresiasmiembrosreportes/up/MLMU3164162841?pdp_filters=item_id%3AMLM2305189997#origin%3Dshare%26sid%3Dshare%26wid%3DMLM2305189997 ",
    tags: [TAGS.Vue, TAGS.Vuetify, TAGS.PHP],
  },
];
---

{
  PROJECTS.map(({ title, image, link, link_venta, description, tags }) => (
    <article class="flex flex-col justify-center p-7 w-full mx-auto bg-black/5 ">
      <h4
        data-aos="zoom-in"
        data-aos-delay="300"
        class="bg-gradient-to-r from-black via-gray-500 to-gray-500 bg-clip-text text-transparent text-lg "
      >
        {title}
      </h4>

      <p
        data-aos="zoom-in"
        data-aos-delay="400"
        class="bg-gradient-to-r from-black via-gray-500 to-gray-500 bg-clip-text text-transparent text-sm "
      >
        {description}
      </p>

      <div
        data-aos="zoom-in"
        data-aos-delay="500"
        class="flex flex-row justify-center  mb-4"
      >
        <img class="rounded-md w-[100%] mx-auto" src={image} />
      </div>

      <ul data-aos="zoom-in" data-aos-delay="600" class="flex gap-x-2 flex-row">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-5" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>

      <div data-aos="zoom-in" data-aos-delay="700" class="flex gap-2">
        <a href={link} target="_blank" rel="noopener noreferrer">
          <span class="flex mt-2  gap-2 rounded-full text-xs py-1 px-2 bg-black text-white items-center w-28 justify-center hover:bg-gray-700 transition-all duration-300 ease-in-out ">
            Ver detalles
            <GoIcon class="size-4" />
          </span>
        </a>
        {link_venta && (
          <a href={link_venta} target="_blank" rel="noopener noreferrer">
            <span class="flex mt-2  gap-2 rounded-full text-xs py-1 px-2 bg-black text-white items-center w-28 justify-center hover:bg-gray-700 transition-all duration-300 ease-in-out ">
              Adquirir <ML class="size-4" />
            </span>
          </a>
        )}
      </div>
    </article>
  ))
}
