---
import PHPIcon from "./icons/Php.astro";
import MySQL from "./icons/MySQL.astro";
import JavaScript from "./icons/JavaScript.astro";
import NextJs from "./icons/NextJs.astro";
import React from "./icons/React.astro";
import GoIcon from "./icons/Go.astro";
import AstroIcon from "./icons/Astro.astro";
import Tailwind from "./icons/Tailwind.astro";
import Strapi from "./icons/Strapi.astro";

const TAGS = {
  PHP: {
    name: "PHP",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: PHPIcon,
  },
  MySQL: {
    name: "MySQL",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: MySQL,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: JavaScript,
  },

  NEXTJS: {
    name: "NextJS",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: NextJs,
  },

  React: {
    name: "React",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: React,
  },

  AstroIcon: {
    name: "Astro",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: AstroIcon,
  },

  Tailwind: {
    name: "Tailwind",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: Tailwind,
  },

  Strapi: {
    name: "Strapi",
    class: "bg-black/50 text-white flex  items-center w-28 justify-center",
    icon: Strapi,
  },
};

const PROJECTS = [
  {
    title: "Proyecto PGarcia Connect",
    description:
      "Plataforma web, para llevar el control de inventario, clientes, ventas y multiples funciones mas solicitadas por el cliente, el trabajo esta realizado para PGarcia, empresa dedicada a la distribucion en mayoreo de material ferretero asi como material de construccion en distintos estados de México.",
    link: "https://gcpgarcia.com/login",
    github: "https://www.github.com",
    image: "/projects/pgconnect.webp",
    image2: "/projects/pgconnect2.webp",
    image_portada: "/projects/pgconnect1.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.MySQL],
  },
  {
    title: "Ecommerce NEXT.JS - Plataforma Videojuegos",
    description:
      "Empresa dedicada a la distribucion en mayoreo de material ferretero asi como material de construccion.",
    link: "https://gcpgarcia.com/login",
    github: "https://www.github.com",
    image: "/projects/pgconnect.webp",
    image2: "/projects/pgconnect2.webp",
    image_portada: "/projects/pgconnect1.webp",
    tags: [TAGS.NEXTJS, TAGS.Tailwind, TAGS.Strapi],
  },

  {
    title: "Contadores - Sitio web contadores",
    description:
      "Empresa dedicada a la distribucion en mayoreo de material ferretero asi como material de construccion.",
    link: "https://gcpgarcia.com/login",
    github: "https://www.github.com",
    image: "/projects/pgconnect.webp",
    image2: "/projects/pgconnect2.webp",
    image_portada: "/projects/pgconnect1.webp",
    tags: [TAGS.AstroIcon, TAGS.Tailwind],
  },
];
---

{
  PROJECTS.map(
    ({ title, image, image_portada, link, image2, description, tags }) => (
      <article class="flex flex-col justify-center p-10 w-full mx-auto bg-black/10 rounded-lg">
        <h4 class="bg-gradient-to-r from-indigo-200 via-purple-500 to-pink-500 bg-clip-text text-transparent text-3xl font-extrabold mb-5">
          {title}
        </h4>
        <p class="text-[15px] text-pink-200 text-pretty mb-5">{description}</p>
        <ul class="flex gap-x-2 flex-row">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <a href={link} target="_blank" rel="noopener noreferrer">
          <span class="flex mt-2  gap-2 rounded-full text-xs py-1 px-2 bg-pink-800/70 text-white items-center w-28 justify-center hover:bg-pink-600 transition-all duration-300 ease-in-out ">
            Ver sitio <GoIcon class="size-4" />
          </span>
        </a>
        <div class="grid grid-cols-2 grid-rows-2 gap-2 mt-5 justify-center ">
          <img
            class="row-span-2 rounded-md w-[110%] h-[495px] object-cover mx-auto "
            src={image_portada}
          />
          <img class="rounded-md w-[100%] mx-auto" src={image} />
          <img class="col-start-2 rounded-md w-[100%] mx-auto" src={image2} />
        </div>
      </article>
    )
  )
}
